.navbar {
    height: 100%;
    background-color: green;
    display: flex;
    align-items: center;
  }
  
  .navLink {
    padding: .5em;
    text-decoration: none;
    color: black;
  }
  
  .navLink:hover {
    color: #9c1d9c;
  }